<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
  	 <Property name="filename">src/logs.txt</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="logFile" fileName="${filename}" filePattern="logs%d{MM-dd-yyyy}.log">
         <PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/> 
	  <Policies>
	  <SizeBasedTriggeringPolicy size="350 MB"/>
	  </Policies>
    </RollingFile>    
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="logFile"/>
    </Root>
  </Loggers>
</Configuration>